*{margin: 0px;padding: 0px;}
body {background: #FFFFFF;color: #333;font-family: "微软雅黑";font-size: 14px;font-weight: lighter;}
ul,li,ol,dl,dt,dd {list-style: none;}
a {color: #333;text-decoration: none;cursor: pointer;outline: 0 none;}
a:link,a:visited {text-decoration: none;color: #1F376D;}
a:hover,a:active {text-decoration: none;color: #BD0A01;border: none;}
button,input,select {vertical-align: middle;}
button{cursor: pointer;}
img {border: 0 none;}
table{border-collapse:collapse;}
.fl{float: left;}
.fr{float: right;}
.overflow-h {overflow: hidden;}
.cl {clear: both;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.none {display: none}
.block {display: block}
.inline-block{display: inline-block}
.t-l {text-align: left;}
.t-c {text-align: center;}
.t-r {text-align: right;}
.vm {vertical-align: middle}
.swiper-container {
    width: 100%;
    height:400px;
    margin: auto; 
}
.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: #fff;
    width: 9.375rem;
    height: 9.375rem;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide:hover{
    cursor: pointer;
}
.banner-swiper{
    position: relative;
}
.pagination {
position: absolute;
z-index: 20;
bottom: 10px;
width: 100%;
text-align: center;
}
.swiper-pagination-switch {
display: inline-block;
width: 8px;
height: 8px;
border-radius: 8px;
background: #555;
margin: 0 5px;
opacity: 0.8;
border: 1px solid #fff;
cursor: pointer;
}
.swiper-active-switch {
background: #fff;
}
/*版心*/
@media screen and (max-width:1200px) and (min-width:1024px){
    .w{
        width:1024px;
        margin:0 auto;
        position: relative;  
    }
}
@media screen and (max-width:1024px){
    .w{
        width:960px;
        margin:0 auto;
        position: relative;
    }   
}
@media screen and (min-width:1200px){
    .w{
        width:1200px;
        margin:0 auto;
        position: relative;
    }  
}